extends ../layouts/master.pug

block SEO
  meta(name='Description', content='Profesjonalne usługi z zakresu kupna i sprzedaży nieruchomości. Doradztwo, ocena stanu technicznego, ekspertyzy techniczne, nadzory budowlane.')
  

block title
  title Biuro nieruchomoci P.J. Investors - doradztwo ws. nieruchomości

block content
  //- block navigation
  include ../components/aside.pug

  //- main
  main
    div#hero.hero.hero--doradcy
      .content
        h1 Doradztwo ws. nieruchomości#[br]P.J. Investors LTD
        h3 Wycena, doradztwo techniczne
        div
          a(href="#daradztwo").button.button__circle.centre-icon
            i.fas.fa-angle-double-down

    //- Doradcy 1
    include ../components/doradcy-1.pug
    
    //- CTA - properties
    include ../components/properties.pug

    //- Doradcy 2
    include ../components/doradcy-2.pug

    //- CTA - dajznac
    include ../components/dajznac.pug

    //- Doradcy 3
    include ../components/doradcy-3.pug

    //- Footer
    include ../components/footer.pug




  
    
