extends ../layouts/master.pug

block SEO
  meta(name='Description', content='Biuro nieruchomości P.J. Investors. Dane kontaktowe do naszej agencji nieruchomości. Poznaj zespół profesjonalistów w dziedzinie kupna i sprzedaży mieszkań.')

block title
  title Biuro nieruchomości P.J. Investors - Kontakt

block content
  //- navigation START
  include ../components/aside.pug

  //- main
  main
    div#hero.hero.hero--kontakt
      .content
        h1 P.J. Investors LTD - Kontakt
        h3 Biuro nieruchomości
        div
          a(href="#kontakt").button.button__circle.centre-icon
            i.fas.fa-angle-double-down
    
    //- Kontakt
    include ../components/kontakt-1.pug

    //- Footer
    include ../components/footer.pug




  
    
