extends ../layouts/master.pug

block SEO
  meta(name='Description', content='Biuro nieruchomości P.J. Investors. Poznaj zespół profesjonalistów w dziedzinie kupna i sprzedaży. Przeprowadzimy Cię przez cały proces sprzedaży mieszkania.')

block title
  title Biuro nieruchomości P.J. Investors - O Nas

block content
  //- navigation START
  include ../components/aside.pug

  //- main
  main
    //- p abc
    section#hero.hero.hero--o-nas
      .content
        h1 O Firmie P.J. Investors LTD
        h3 Poznaj naszych specjalistów
        div
          a(href="#o-nas").button.button__circle.centre-icon
            i.fas.fa-angle-double-down
    
    //- Uslugi
    include ../components/onas-1.pug

    //- CTA - properties
    include ../components/properties.pug

    //- Zespół
    //- include ../components/onas-2.pug

    //- Footer
    include ../components/footer.pug




  
    
