extends ../layouts/master.pug

block SEO
  meta(name='Description', content='Sprzedaj z Nami. Kupno i sprzedaż mieszkań Warszawa i okolice. Doradztwo w zakresie prawnym, ocena stanu technicznego, ekspertyzy techniczne.')

block title
  title Biuro nieruchomości P.J. Investors - Sprzedaj z Nami mieszkanie

block content
  //- navigation START
  include ../components/aside.pug

  //- main
  main
    //- p abc
    div#hero.hero.hero--sprzedaj
      .content
        h1 Sprzedaj z Nami
        h3 Sprzedaż mieszkań, kupno mieszkań
        div
          a(href="#sprzedaj").button.button__circle.centre-icon
            i.fas.fa-angle-double-down

    
    //- Sprzedaj 1
    include ../components/sprzedaj-1.pug

    //- CTA - properties
    include ../components/properties.pug

    //- Sprzedaj 2
    include ../components/sprzedaj-2.pug

    //- Footer
    include ../components/footer.pug




  
    
