extends ../layouts/master.pug

block title
  title Sprzedaj mieszkanie z nami
//- block manifestBrowserconfigFiles
  //- link(href='../manifest.json', rel='manifest')
  //- meta(name='msapplication-config' content='../browserconfig.xml')

block content
  //- navigation START
    - var active = "index"
  //- - var page = 'index'
  include ../components/aside.pug
      //- block navigation

  //- main
  main
    //- p abc
    section.hero.hero--index
      .content
        h1 Biuro nieruchomości #[br]P.J. Investors LTD 
        //- h3 Biuro nieruchomości - Warszawa
        //- h1 Biuro nieruchomości#[br]w Warszawie
        h3 Sprzedaż mieszkań, kupno mieszkań
        div
          a(href="#uslugi").button.button__circle.centre-icon
            i.fas.fa-angle-double-down
    

    //- CTA - properties
    include ../components/properties.pug


    //- CTA - dajznac
    include ../components/dajznac.pug


    //- Footer
    include ../components/footer.pug




  
    
