extends ./layouts/master.pug

block SEO
  meta(name='Description', content='Profesjonalne usługi z zakresu kupna i sprzedaży nieruchomości. Doradztwo, ocena stanu technicznego, ekspertyzy techniczne, nadzory budowlane.')

block title
  title Biuro nieruchomości P.J. Investors - sprzedaż mieszkań Warszawa

block content
  //- navigation START
  include ./components/aside.pug

  //- main
  main
    //- p abc
    div#hero.hero.hero--index
      .content
        h1 Biuro nieruchomości #[br]P.J. Investors LTD
        h3 Sprzedaż mieszkań, kupno mieszkań
        div
          a(href="#uslugi").button.button__circle.centre-icon
            i.fas.fa-angle-double-down
    
    //- Uslugi 1
    include ./components/uslugi-1.pug

    //- CTA - properties
    include ./components/properties.pug

    //- Uslugi 2
    include ./components/uslugi-2.pug

    //- CTA - dajznac
    include ./components/dajznac.pug

    //- Uslugi 3
    include ./components/uslugi-3.pug

    //- Footer
    include ./components/footer.pug
