/* src/assets/styles/layout/_general.scss  */

// GENERAL

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: $font-primary;
}

html, a {
  color: $grey-dark;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

// SECTIONS

main {
  width: 100%;
  height: auto;
  transition: all .3s ease;
  
  @include from(5) {
    width: calc(100% - #{$aside});
    float: right;
  }
}

section {
  @include full-width();
  height: auto;
}

.container {
  width: $container;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @include at(2) {
    width: 92%;
  }
  @include at(3) {
    width: 90%;
  }
  @include at(4) {
    width: 87%;
  }
  @include at(5) {
    width: 83%;
  }
}

// OTHER

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

// TYPOGRPHY

a {
  text-decoration: none;

  &:hover {
    color: darken($grey-dark, 40%);
    text-decoration: solid;
  }
}

button {
  border: 0;
}

input, textarea {
  border: 0;
}

input:active,
input:target,
input:focus,
textarea:active,
textarea:target,
textarea:focus,
 {
  outline-color: $blue-light;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 2.2rem;
  
  @include from(2) {
    font-size: 3rem;
  }
  @include from(4) {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 1.9rem;

  @include from(2) {
    font-size: 2.6rem;
  }
  @include from(4) {
    font-size: 3.1rem;
  }
}

h3 {
  font-size: 1.2rem;

  @include from(2) {
    font-size: 1.4rem;
  }
  @include from(4) {
    font-size: 1.7rem;
  }
}

.kolor-niebieski {
  color: $blue-light;
}

.title-link {
  font-weight: bold;
}

.hideme {
  opacity: 1;
}