.footer {
  background: $grey-dark;
  color: $grey-light;
  padding: 2rem 0;

  @include at(1) {
    padding-bottom: 3.5rem;
  }
  
  a {
    color: $grey-light;
  }

  .content {
    @include container();
  }

  &__boxes {
    @include clearfix;
  }

  &__box {

    @include at(2) {
      @include column(4/12);
    }
    @include from(3) {
      @include column(3/12);
    }
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;

    @include from(2) {
      margin-top: 0;
    }
  }

  ul li {
    font-size: .8rem;
    margin-top: .5rem;
  }

}
