.hero {
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: cover;
  
  // @include from(5) {
  //   background-position: cover;
  // }
  
  &--index {
    background-image:  linear-gradient(90deg, lighten($grey-dark, 65%), rgba($grey-light, .5)), url('../images/mieszkanie-białe-male.jpg');
    
    @include from(3) {
      background-image:  linear-gradient(90deg, lighten($grey-dark, 65%), rgba($grey-light, .5)), url('../images/mieszkanie-białe-duze.jpg');
    }
  }

  &--doradcy {
    background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/doradztwo-male.jpg');
    
    @include from(3) {
      background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/doradztwo-duze.jpg');
    }
  }

  &--o-nas {
    background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/zespol-male.jpg');
    
    @include from(3) {
      background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/zespol-duzy.jpg');
    }
  }

  &--kontakt {
    min-height: 30rem;
    background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/miasto-z-gory-male.jpg');
    
    @include from(3) {
      background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/miasto-z-gory-duze.jpg');
    }
  }

  &--sprzedaj {
    background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/skrzynka-mala.jpg');
    
    @include from(3) {
      background-image:  linear-gradient(90deg, lighten($grey-dark, 70%), rgba($grey-light, .95)), url('../images/skrzynka-duza.jpg');
    }
  }

  .content {
    height: auto;
    padding: 1rem;
    text-align: center;
    @include container();
    @include from(4) {
      text-align: right;
    }
  }

  h1 {
    color: $blue-light;
  }
  
  h1 {
    margin-top: 9rem;
    margin-bottom: 1rem;  
  }
  
  & h3 {
    margin-bottom: 4rem;
    color: $grey-dark;
  }

  & .content > div {
    text-align: center;

    @include from(4) {
      text-align: inherit;
    }
  }

  .button {
    color: $blue-light;
  }

}