.uslugi {
  margin-top: 2rem;
  padding-bottom: 4rem;
  line-height: 1.7;

  @include from(3) {
    margin-top: 3rem;
  }

  h2 {
    margin-bottom: 3rem;

    @include from(3) {
      margin-bottom: 4rem;
    }

    @include from(5) {
      margin-bottom: 5.5rem;
    }
  }

  .content {
    // padding: 2rem;
    @include container();
    text-align: left;
    color: lighten($grey-dark, 20%);
  }
  
  &__boxes {
    
    h3 {
      color: $blue-dark;
      display: inline-block;
    }

    ;
  }

  &__box {
    @include at(3) {
      // @include column(1/2);
    }
    height: auto;

    @include clearfix;

    // @include from(4) {
    //   @include column(1/3);
    // }

    // @include from(5) {
    //   @include column(1/4);
    // }

    &:not(:last-child) {
      margin-bottom: 4rem;
      
      @include from(4) {
        margin-bottom: 5rem;

      }
    }
  }

  &__desc {
    @include column();
    
    @include from(3) {
      @include column(2/3);
    }

    & > * {
      margin-bottom: .8rem;
    }
  }
  &__divider {
    display: block;
    text-align: center;
    width: 4rem;
    margin: 1rem 0;
    height: 1px;
    background-color: $grey-medium;
  }

  &__img {
    display: none;
    @include from(3) {
      display: block;
      @include column(1/3);
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }

  

  i {
    font-size: 3rem;
    color: $blue-light;
    text-shadow: 2px 2px 2px $grey-medium;
    margin-right: 1rem;


    &:hover {
      color: lighten($blue-light, 10%);
    }
  }
  &__item {
    list-style: disc;
    margin-left: 1rem;
  }

  footer &__opis {
    font-weight: bold;
  }

  & .button__action {
    margin-top: 1.5rem;
  }
}