//- Master layout

doctype html
html(lang='pl')
  head

    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='subject', content='Biuro nieruchomości, sprzedaż mieszkania, kupno mieszkania')
    meta(name='Copyright', content='P.J. Investors')
    meta(name='author', content='RWD Strony Internetowe')
    meta(name='Designer', content='RWD Strony Internetowe')
    meta(name='Geography', content='ul. Piękna 24/26A, 00-549 Warszawa')
    meta(name='Language', content='Polish, Polski')
    meta(name='Publisher', content='P.J. Investors, RWD Strony Internetowe')
    meta(name='distribution', content='Global')
    meta(name='zipcode', content='00-549')
    meta(name='city', content='Warszawa')
    meta(name='country', content='Polska, Poland')
    meta(name='Classification', content='Biuro nieruchomości oferuje usługi w zakresie kupna nieruchomości, sprzedaży nieruchomości, oceny stanu technicznego, doradztwa, sprawdzanie legalności nieruchomości, przygotowanie mieszkania do sprzedaży, ustalanie warunków z nabywcami, organizacja umowy sprzedaży i przekazaniu lokalu, organizacja przeprowadzki.')
    meta(name='Keywords', content='sprzedaż mieszkania, kupno mieszkania, doradztwo, ocena stanu technicznego, ekspertyzy techniczne, nadzory budowlane, biuro nieruchomości, nieruchomości Warszzawa, sprzedaż mieszkań Warszawa, kupno mieszkań Warszawa')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='./assets/images/favicon-144.png')
    meta(name='msapplication-config', content='/browserconfig.xml')

    //- SEO
    block SEO

    //- Twitter
    //- meta(name='twitter:card', content='summary')
    //- meta(name='twitter:site', content='')
    //- meta(name='twitter:image', content='')
    //- meta(name='twitter:description', content='')

    //- Facebook
    //- meta(property='og:url', content='')
    //- meta(property='og:title', content='')
    //- meta(property='og:description', content='')
    //- meta(property='og:image', content='')
    //- meta(property='og:type', content='website')


    //- Favicons
    link(rel='shortcut icon', href='./assets/images/favicon.ico')
    link(rel='icon', sizes='16x16 32x32 64x64', href='./assets/images/favicon.ico')
    link(rel='icon', type='image/png', sizes='196x196', href='./assets/images/favicon-192.png')
    link(rel='icon', type='image/png', sizes='160x160', href='./assets/images/favicon-160.png')
    link(rel='icon', type='image/png', sizes='96x96', href='./assets/images/favicon-96.png')
    link(rel='icon', type='image/png', sizes='64x64', href='./assets/images/favicon-64.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/images/favicon-32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/images/favicon-16.png')
    link(rel='apple-touch-icon', href='./assets/images/favicon-57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='./assets/images/favicon-114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='./assets/images/favicon-72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='./assets/images/favicon-144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='./assets/images/favicon-60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='./assets/images/favicon-120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='./assets/images/favicon-76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='./assets/images/favicon-152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='./assets/images/favicon-180.png')

    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')

    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "RealEstateAgent",
      "name": "P.J Investors",
      "image": "http://pjinvestors.pl/assets/images/logo.png",
      "@id": "",
      "url": "http://pjinvestors.pl",
      "telephone": "600 076 635",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "ul. Piękna 24/26A",
      "addressLocality": "Warszawa",
      "postalCode": "00-549",
      "addressCountry": "PL"
      },
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": 52.223652,
      "longitude": 21.01833211
      },
      "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
      ],
      "opens": "08:00",
      "closes": "22:00"
      }
      }

    //- Title
    block title
      title Your project!

  body
    #wrapper

      //- block content
      block content

      //- block scripts
      block scripts
