
aside.aside
  //- - var active
  .aside__hamburger
    .aside__hamburger1
    .aside__hamburger2
    .aside__hamburger3
  .aside__logo
    a(href="/")
      img(src="./assets/images/logo.png", title="P.J. Investors", alt="Logo P. J. Investors").aside__img
  nav.aside__navigation
    ul.aside__list
      li.aside__item
        a(href="/", class=(page == "index" ? "active" : "")).aside__link Strona Główna
      li.aside__item
        a(href="/sprzedaj-z-nami").aside__link Sprzedaj z Nami
      li.aside__item
        a(href="/doradcy").aside__link Doradcy
      li.aside__item
        a(href="/o-nas").aside__link O Nas
      li.aside__item
        a(href="/kontakt").aside__link Kontakt
      li.aside__item.aside__item--buttons Nasze Oferty
        .properties__buttons
          a(href="https://pjinvestors.otodom.pl/", target="_blank").button.button__goto Otodom
          a(href="https://www.morizon.pl/biuro-nieruchomosci/p-j-investors-46909", target="_blank").button.button__goto Morizon
        
      li.aside__item
        p Zajrzyj na #[a(href="https://pjinvestors.otodom.pl/", target="_blank").title-link otodom.pl] lub #[a(href="https://www.morizon.pl/biuro-nieruchomosci/p-j-investors-46909", target="_blank").title-link mozizon.pl], gdzie jest pełna lista naszych nieruchomości
      .proprerties__container
        .properties__image
          img(src="./assets/images/nieruchomosc-1-mala.jpg", title="Sprawdź nasze mieszkania" alt="Mieszkania w ofercie")
        .properties__image
          img(src="./assets/images/nieruchomosc-2-mala.jpg", title="Sprawdź nasze mieszkania" alt="Sprawdź nasze nieruchomości")
        .properties__image
          img(src="./assets/images/nieruchomosc-3-mala.jpg", title="Sprawdź nasze mieszkania" alt="Pełna oferta na Otodom lub Morizon")
        .properties__image
          img(src="./assets/images/nieruchomosc-4-mala.jpg", title="Sprawdź nasze mieszkania" alt="Zdjęcia nieruchomości")
        .properties__image
          img(src="./assets/images/nieruchomosc-5-mala.jpg", title="Sprawdź nasze mieszkania" alt="Zdjęcia mieszkań na sprzedaż")
  

  footer.aside__footer
    p Copyright &copy; P.J Investors
    ul.aside__social-list
      li.aside__social-item
        a(href="http://facebook.com", target="_blank", title="Oficialna strona P J Investors na Facebooku").aside__link
          i.fab.fa-facebook-f

    p.aside__created
      a(href="http://rwd-stronyinternetowe.pl", target="_blank") Stworzone przez #[br]
        span rwd-stronyinternetowe.pl