section.dajznac
  .content.hideme
    .dajznac__header
      h3 Nie zwlekaj i skontaktuj się z  
        span.kolor-niebieski nami!
    .dajznac__action
      a(href="/kontakt").button.button__action Kontakt
