section.doradztwo
  .content
    .doradztwo__boxes
      article.doradztwo__box
        .doradztwo__desc
          i.fas.fa-file-signature
          h3.hideme Dokumentacja
          span.doradztwo__divider
          p.doradztwo__opis.hideme 
            | Pomożemy Ci sprzedać  mieszkanie oraz wyprostować sytuację formalno – prawną.
          p.doradztwo__opis.hideme 
            | Urzędy, banki, komornicy, księgi wieczyste, przepisywanie mediów? Brzmi to jak wyzwanie i stracone godziny w urzędach? Nie przejmuj się tym. Zostaw to nam.
          p.doradztwo__opis.hideme 
            | Doradcy #[span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors] zrobią to za Ciebie, Ty zajmij się ważniejszymi sprawami.
          
          footer.doradztwo__footer.hideme
            p.doradztwo__opis
              | Powierz sprawy administracyjne specjalistom! 
              span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors.  
              | Z przyjemnością przeprowadzą Cię przez cały proces. Zadzwoń i dopytaj o szczegóły.
            a(href="/kontakt").button.button__action Kontakt
        .doradztwo__img.hideme
          img(src="./assets/images/dokumentacja-male.jpg", alt="Doradztwo przy dokumentacji kupna i sprzedaży mieszkania" title="Pomoc przy dokumentacji")
        

      