section.doradztwo#daradztwo
  .content
    h2.hideme #[span.kolor-niebieski Doradztwo]
    .doradztwo__boxes
      article.doradztwo__box
        .doradztwo__desc
          i.fas.fa-building
          h3.hideme Znajomość rynku nieruchomości
          span.doradztwo__divider
          p.doradztwo__opis.hideme
            | Znajomość wymagań rynku na konkretnym obszarze pozwala nam wychodzić naprzeciw zapotrzebowaniu naszych klientów.
          p.doradztwo__opis.hideme
            | Mamy swoich przedstawicieli w każdym rejonie Warszawy i okolic. Dzięki znajomości rynku lokalnego każdy z nich jest w stanie oszacować wartość danej nieruchomości już podczas pierwszego spotkania.
          p.doradztwo__opis.hideme
            | Regionalizacja naszych doradców daje wymierne korzyści dla klienta. Do podstawowych atutów należy zaliczyć bardzo dobrą znajomość okolic, ponieważ często zdarza się tak, że nasz przedstawiciel mieszka od urodzenia w okolicy, którą się zajmuje.
          p.doradztwo__opis.hideme
            | Często cena zależy od konkretnych cech nieruchomości pożądanych na danym terenie. Dzięki doświadczeniu naszych doradców szybko zdobędziesz wiedzę o zaletach i kluczowych sprawach, które pozwolą Państwu dokonać możliwie szybkiej transakcji kupna lub sprzedaży nieruchomości.
          footer.doradztwo__footer.hideme
            p.doradztwo__opis
              | Masz jakieś pytania? Skontaktuj się z profesjonalistą. 
              span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors. 
              | Jesteśmy tu, żeby Ci pomóc.
            a(href="/kontakt").button.button__action Kontakt
        .doradztwo__img.hideme
          img(src="./assets/images/miasto-tory-male.jpg", alt="Dedykowani specjaliści z doskonałą znajomością miasta" title="Znajomość miasta")

      