section.doradztwo
  .content
    .doradztwo__boxes
      article.doradztwo__box
        .doradztwo__img
          img(src="./assets/images/niepewnosc-male.jpg", alt="Pomoc przy kupnie i sprzedaży mieszkania" title="Niepewność przy wyborze mieszkania")
        .doradztwo__desc
          i.fas.fa-hands-helping
          h3 Mieszkanie i życiowa decyzja
          span.doradztwo__divider
          p.doradztwo__opis 
            | Zakup i sprzedaż nieruchomości to często decyzje mające istotny wpływ na nasze życie. Pomoc doradców #[span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors] sprawi, że proces transakcyjny będzie dla Państwa prawdziwą przyjemnością.
          p.doradztwo__opis 
            | Pomożemy Państwu i przeprowadzimy przez wszystkie etapy kupna lub sprzedaży mieszkania.
          p.doradztwo__opis 
            | Powiedz nam czego szukasz, a znajdziemy dla Ciebie wymarzoną ofertę. Działania sprzedażowe wspieramy marketingowo ogłaszając je w internecie i nie tylko.
          p.doradztwo__opis 
            | Dzięki doskonałej znajomości cen transakcyjnych z okresu ostatnich kilku miesięcy specjaliści ds. nieruchomośći P.J. Investors są w stanie dokładnie oszacować wartość nieruchomości metodą porównawczą dokumentując to klientom na konkretnych przykładach.
          
          footer.doradztwo__footer
            p.doradztwo__opis
              | Nie zastanawiaj się tylko zadzwoń! 
              span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors 
              | jesteśmy tu, żeby Ci pomóc. Nie zostaniesz z tym sam!
            a(href="/sprzedaj-z-nami").button.button__action Sprzedaj z Nami
        

      