footer.footer
  .content
    .footer__boxes
      article.footer__box
        h3 Adres
        ul
          li #[span.kolor-niebieski P. J. Investors]
          li Górczewska 53
          li 01-401 Warszawa
          li tel. 600 076 635
      article.footer__box
        h3 Usługi
        ul
          li #[a(href="/sprzedaj") Sprzedaż mieszkań]
          li #[a(href="/sprzedaj") Kupno mieszkań]
            ul
              li 
                .properties__buttons
                  a(href="https://pjinvestors.otodom.pl/", target="_blank").button.button__goto Otodom
                  a(href="https://www.morizon.pl/biuro-nieruchomosci/p-j-investors-46909", target="_blank").button.button__goto Morizon
          li #[a(href="/kontakt") Wymiana mieszkań]
          li #[a(href="/doradcy") Doradztwo]
      article.footer__box
        h3 Inne
        ul
          li
            a(href="https://atlasbudownictwo.pl/", target="_blank") Atlas Budownictwo
          li #[a(href="/onas", target="_blank") O Nas]
          li #[a(href="/kontakt", target="_blank") Kontakt]
            
