section.o-nas#zespol
  .content
    h2 Nasz #[span.kolor-niebieski zespół]
    .o-nas__boxes
      //- each ab in abc
      //-   p= ab
      article.o-nas__box--full
        .o-nas__lewa
          img(src="./assets/images/Jacek-Latała-male.jpg", alt="Jacek Latała, specjalista ds. nieruchomości", title="Jacek Latała")
        .o-nas__prawa
          img(src="./assets/images/person-1.jpg", alt="Jacek Latała, specjalista ds. nieruchomości", title="Jacek Latała").o-nas__zdjecie
          header
            h3 mgr inż. Jacek Latała
          ul
            li #[i.fas.fa-user-alt]
              p specjalista ds. nieruchomości
            li #[i.fas.fa-map-marker]              
              p Wola, Śródmieście
            li #[i.fas.fa-mobile-alt]              
              p 555 011 899
            li #[i.fas.fa-at]              
              p test@gmail.com
            li #[i.fas.fa-language]              
              p angielski, niemiecki    
        .o-nas__detale
          p.o-nas__opis
            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
        footer.o-nas__footer
          p.o-nas__opis Jacek Latała, specjalista ds. sprzedaży
          
      article.o-nas__box--full
        .o-nas__lewa
          img(src="./assets/images/Jacek-Latała-male.jpg", alt="Jacek Latała, specjalista ds. nieruchomości", title="Jacek Latała")
        .o-nas__prawa
          img(src="./assets/images/person-1.jpg", alt="Jacek Latała, specjalista ds. nieruchomości", title="Jacek Latała").o-nas__zdjecie
          header
            h3 mgr inż. Jacek Latała
          ul
            li #[i.fas.fa-user-alt]
              p specjalista ds. nieruchomości
            li #[i.fas.fa-map-marker]              
              p Wola, Śródmieście
            li #[i.fas.fa-mobile-alt]              
              p 555 011 899
            li #[i.fas.fa-at]              
              p test@gmail.com
            li #[i.fas.fa-language]              
              p angielski, niemiecki    
        .o-nas__detale
          p.o-nas__opis
            | Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki.
        footer.o-nas__footer
          p.o-nas__opis Jacek Latała, specjalista ds. sprzedaży

      