section.o-nas#o-nas
  .content
    h2 O Nas - #[span.kolor-niebieski P.J. Investors]
    .o-nas__boxes
      article.o-nas__box
        .o-nas__desc
          i.fas.fa-comments
          h3 Specjaliści od nieruchomości
          span.o-nas__divider
          p.o-nas__opis
            | Pomożemy sprzedać Twoje mieszkanie. Posiadamy szeroką bazę inwestorów jak również klientów indywidualnych.
          p.o-nas__opis
            | Jeśli Twoje mieszkanie jest zbyt duże i chciałbyś je sprzedać a w zamian kupić mniejsze mieszkanie w Warszawie lub w innym mieście w Polsce – pomożemy Ci przeprowadzić transakcje kupna i sprzedaży mieszkania.
          p.o-nas__opis
            | Wieloletnie doświadczenie inżynierskie w branży budowlanej pozwoli nam na właściwą ocenę stanu technicznego przed zakupem mieszkania. Dzięki temu przy zakupie mieszkania właściwie ocenimy stan techniczny i określimy niezbędne roboty remontowe budowlano – instalacyjne.
          p.o-nas__opis
            | Każdą sprzedaż mieszkania zabezpieczamy prawnie z dbałością o klienta.
          p.o-nas__opis
            | To co nas wyróżnia z pośród konkurencji to kreatywność oraz indywidualne podejście do każdego klienta
          p.o-nas__opis
            | Naszym głównym celem jest profesjonalna obsługa Klientów w trakcie transakcji zakupu i sprzedaży nieruchomości.
          p.o-nas__opis
            | P. J. Investors skupia specjalistów dla których praca jest pasją. Pomoc w prowadzeniu transakcji kupna i sprzedaży nieruchomości jest tym co daje na radość a zarazem stwarza, że nasi klienci uwielbiają do nas wracać. 
          footer.o-nas__footer
            p.o-nas__opis
              | Masz jakieś pytania? Skontaktuj się z profesjonalistą 
              span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors. 
              | Jesteśmy tu, żeby Ci pomóc.
            a(href="/kontakt").button.button__action Kontakt
        
      