section.properties
  .content
    .properties__img
      img(src="./assets/images/logo.png", title="P.J. Investors", alt="Logo P. J. Investors").aside__img
      p Zajrzyj na #[a(href="https://pjinvestors.otodom.pl/", target="_blank").title-link otodom.pl] lub #[a(href="https://www.morizon.pl/biuro-nieruchomosci/p-j-investors-46909", target="_blank").title-link mozizon.pl], gdzie jest pełna lista naszych nieruchomości
      .properties__buttons
        a(href="https://pjinvestors.otodom.pl/", target="_blank").button.button__goto Otodom
        a(href="https://www.morizon.pl/biuro-nieruchomosci/p-j-investors-46909", target="_blank").button.button__goto Morizon
    .properties__asari
      .proprerties__container
        .properties__image
          img(src="../../assets/images/nieruchomosc-1-mala.jpg", title="Mieszkanie na sprzedaż" alt="Mieszkanie na sprzedaż")
        .properties__image
          img(src="../../assets/images/nieruchomosc-2-mala.jpg", title="Mieszkanie na sprzedaż" alt="Mieszkanie na sprzedaż")
        .properties__image
          img(src="../../assets/images/nieruchomosc-3-mala.jpg", title="Mieszkanie na sprzedaż" alt="Mieszkanie na sprzedaż")
        .properties__image
          img(src="../../assets/images/nieruchomosc-4-mala.jpg", title="Mieszkanie na sprzedaż" alt="Mieszkanie na sprzedaż")
        .properties__image
          img(src="../../assets/images/nieruchomosc-5-mala.jpg", title="Mieszkanie na sprzedaż" alt="Mieszkanie na sprzedaż")
