section.sprzedaj#sprzedaj
  .content
    .sprzedaj__boxes
      article.sprzedaj__box
        .sprzedaj__desc
          i.fas.fa-caret-square-right
          h3.hideme Napisz do Nas
          span.sprzedaj__divider
        .sprzedaj__form.hideme
          #result
          form#contactForm
            input(type="text", id="name", placeholder="Imię")
            input(type="text", id="email", placeholder="Email")
            textarea(id="comment", name="comment", cols="30", rows="5", placeholder="Wiadomość")
            button(type="submit", id="submit").button.button__action Wyślij
