section.sprzedaj#sprzedaj
  .content
    h2.hideme Sprzedaj - #[span.kolor-niebieski Nieruchomość]
    .sprzedaj__boxes
      article.sprzedaj__box
        .sprzedaj__desc
          i.fas.fa-comments
          h3.hideme Dlaczego 
            span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P.J. Investors?
          span.sprzedaj__divider
          p.sprzedaj__opis.hideme
            | Pomożemy sprzedać Twoje mieszkanie oraz załatwimy za Ciebie wszystkie formalności. Posiadamy szeroką bazę inwestorów jak również klientów indywidualnych.
          p.sprzedaj__opis.hideme
            | Mamy swoich przedstawicieli w każdym rejonie Warszawy i okolic. Dzięki znajomości rynku lokalnego każdy z nich jest w stanie oszacować wartość danej nieruchomości już podczas pierwszego spotkania.
          p.sprzedaj__opis.hideme
            span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P.J. Investors 
            | skupia specjalistów dla których praca jest pasją. Pomoc w prowadzeniu transakcji kupna i sprzedaży nieruchomości jest tym co daje na radość a zarazem stwarza, że nasi klienci uwielbiają do nas wracać. 
          
          footer.sprzedaj__footer.hideme
            p.sprzedaj__opis
              | Masz jakieś pytania? Skontaktuj się z profesjonalistą 
              span.kolor-niebieski(title="Biuro nieruchomości P. J. Investors") P. J. Investors. 
              | Jesteśmy tu, żeby Ci pomóc.
        
      