section.uslugi
  .content
    .uslugi__boxes
      article.uslugi__box
        .uslugi__desc
          i.fas.fa-file-contract
          h3 Ocena statusu działek i uzyskanie pozwolenia na budowę
          span.uslugi__divider
          p.uslugi__opis
            | Nasi specjaliści bez trudu określą dla Państwa przeznaczenie działek.
          p.uslugi__opis
            | Dla naszych klientów określamy dla jakich nieruchomości przeznaczone są działki i jakie wymagania stawia przed nimi Lokalny Plan Zagospodarowania Przestrzennego.
          footer.uslugi__footer
            p.uslugi__opis
              | Na życzenie klienta możemy również po transakcji wystąpić o warunki zabudowy a także pomóc w uzyskaniu pozwolenia na budowę.
            a(href="/doradcy").button.button__action Dowiedz się więcej
        .uslugi__img
          img(src="./assets/images/pozwolenie-na-budowe-v.jpg", alt="Pomoc przy ocenie przeznaczenia działki" title="Dokumenty i pozwolenie na budowę oraz ocena statusu działki")