section.uslugi
  .content
    .uslugi__boxes
      article.uslugi__box
        .uslugi__img
          img(src="../assets/images/sprawdzanie-male.jpg", alt="abc")
        .uslugi__desc
          i.fas.fa-tasks
          h3 Ocena stanu technicznego
          span.uslugi__divider
          p.uslugi__opis
            | Wieloletnie doświadczenie inżynierskie w branży budowlanej pozwoli nam na właściwą ocenę stanu technicznego przed zakupem mieszkania.
            |  Zapewniamy profesjonalną pomoc przy:
          ul.uslugi__list
            li.uslugi__item ocenie stanu technicznego budynków i mieszkań
            li.uslugi__item określeniu koniecznych do wykonania robót budowlanych
            li.uslugi__item szacowaniu kosztów prac remontowych
            li.uslugi__item nadzorze robót remontowych
          footer.uslugi__footer
            p.uslugi__opis
              | Doświadczenie inżynierskie to jedna z cech, która nasz odróżnia od innych w tej branży
              | i niezwykle istotna przy zakupie i sprzedaży mieszkania lub domu.
            a(href="/doradcy").button.button__action Dowiedz się więcej