section.uslugi#uslugi
  .content
    h2 Nasze 
      span.kolor-niebieski Usługi
    .uslugi__boxes
      article.uslugi__box
        .uslugi__desc
          i.fas.fa-hand-holding-usd
          h3 Sprzedaż i kupno mieszkania
          span.uslugi__divider
          p.uslugi__opis
            | Przy transakcji kupna i sprzedaży mieszkania załatwimy za Ciebie wszystkie formalności. Pomożemy skompletować niezbędne dokumenty i zaświadczenia oraz szybko ustalimy termin aktu notarialnego.
          p.uslugi__opis 
            | Jeżeli zależy Ci na szybkiej transakcji to idealnie trafiłeś – sprzedaż mieszkania z nami to wygoda i pełna satysfakcja a wszystko to w błyskawicznym tempie.
          p.uslugi__opis 
            | Pomożemy sprzedać Twoje mieszkanie. Posiadamy szeroką bazę inwestorów jak również klientów indywidualnych.
            | Pomagamy również przy:
          ul.uslugi__list
            li.uslugi__item wypełnianiu dokumentacji
            li.uslugi__item sprawdzeniu legalności nieruchomości
            li.uslugi__item zamianie z większego mieszkania na mniejsze lub z mniejszego na większe
            li.uslugi__item przygotowaniu mieszkania do sprzedaży
            li.uslugi__item ustalaniu warunków z nabywcami
            li.uslugi__item organizacji umowy sprzedaży i przekazaniu lokalu
            li.uslugi__item organizacji przeprowadzki
          footer.uslugi__footer
            p.uslugi__opis
              | Chcesz kupić, sprzedać lub wynająć nieruchomość? Skontaktuj się z nami, a doradcy 
              span.kolor-niebieski P.J. Investors 
              | zajmiemą się całą resztą.
            a(href="/sprzedaj").button.button__action Sprzedaj z Nami
        .uslugi__img
          img(src="./assets/images/nieruchomosc-4-duza.jpg", alt="abc")

      